<header>
    <section class="hero hero-semi">
        <div class="texture-overlay"></div>
        <div class="container">
            <div class="row nav-wrapper">
                <div class="col-md-6 col-sm-6 col-xs-6 text-left socialicon">
                    <p><a href="https://fr.linkedin.com/in/mathieu-geissler-679472b8"><i class="fa fa-linkedin"></i></a>
                        <a href="https://twitter.com/matsurf68"><i class="fa fa-twitter"></i></a>
                        <a
                                href="https://github.com/mathieugeissler"><i class="fa fa-github"></i></a></p>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 text-right navicon">
                    <p>MENU</p><a id="trigger-overlay" class="nav_slide_button nav-toggle"
                                  href="#"><span></span></a>
                </div>
            </div>
            <div class="row hero-content">
                <div class="col-md-12">
                    <h1 class="animated fadeInDown">Blog</h1>
                </div>
            </div>
        </div>
    </section>
</header>