{% extends 'AdminBundle:Default:index.html.twig' %}

{% block page_title %} Categories {% endblock %}
{% block page_subtitle %} control {% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-3">

        </div>
        <div class="col-md-3">

        </div>
        <div class="col-md-3">

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Add or edit a category</h3>
                     <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fa fa-minus"></i></button>

                    </div>
                </div>
                <div id="form">
                    {% include 'AdminBundle:Blog/Category:form.html.twig' with {'form': form} %}
                </div>
            </div>
        <div class="row">
        <div class="col-md-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Categories list</h3>

                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fa fa-minus"></i></button>

                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive">
                    <div id="table">
                        {% include 'AdminBundle:Blog/Category:table.html.twig' with {'categories': categories} %}
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <!-- /.box -->
    </div>
{% endblock %}

{% block javascripts_inline %}
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable({
                "dom": 't<"box-footer clearfix"p>',
                "columnDefs": [
                    {
                        "targets": -1,
                        "width": "15%",
                        "searchable": false,
                        "orderable": false,
                    },
                    {
                        "targets": 0,
                        "width": "10%",
                    },
                ]
            });
            $('[data-toggle="tooltip"]').tooltip();
        });

    </script>
{% endblock %}